/* Colours for database connection states */
#database-connection.success {
    color: green;
}

#database-connection.failed {
    color: red;
}

#heartbeat-status.success {
    color: green;
}

#heartbeat-status.failed {
    color: red;
}

.session-date {
    background-color: #f8f9fa; /* Light background for the date row */
    font-weight: bold; /* Make the date text bold */
    text-align: center; /* Center align the text */
}

body {
    /* SUSE Font from Google Fonts */
    font-family: 'SUSE', sans-serif;
}

.navbar {
    background-color: #FFD700 !important; /* Gold */
}

.card-header {
    background-color: #FFC107; /* Bright yellow */
    color: white;
}

.table th {
    background-color: #FFD54F; /* Light yellow */
    color: black;
}

.table td {
    background-color: #FFF3E0; /* Very light yellow */
}
